# Python Environment
ai-env/
venv/
env/
bin/
lib/
share/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Dokumen Sensitif (Penting!)
docs/
*.pptx
*.pdf
*.docx

# Basis Pengetahuan & Memori Agent
knowledge_base.txt
*.log

# Environment Variables & Keys
.env
.venv
*.token

# Local Databases
*.faiss
*.pkl

# OS Specific
.DS_Store
Thumbs.db